<h1>Log In</h1>


<form action="/contact/auth" method="post"role="form">

 <div class="form-group">
   <label for="contact_body">Email:</label>
   <br>
   <input id="contact_title" class="form-control" type="text" style="width=90%" name="owner_email" />
 </div>
 <button type="submit" class="btn btn-success">Log On</button>

</form>