<form action="/contact/<%= @contact.newOwner %>/newOwner" method="post"role="form">

<h3>You're good!</h3>

<br>

<br>

<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>

<a href="/">Home</a>




</form>